html {
  line-height: 1; /* 1 */
  letter-spacing: -0.3px;
  -webkit-text-size-adjust: 100%; /* 2 */
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* font */
@font-face {
  font-family: "OhouseIcon";
  src: url("https://assets.ohou.se/design-system/d8923b386a66fd50.woff2");
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font-family: "OhouseIcon";
  font-size: 24px;
  line-height: 1;
  vertical-align: top;
}
