.topBanner {
  color: white;
  background-color: #1496f4;
  cursor: pointer;
  position: relative;
}

a {
  color: inherit; /* 부모 요소의 색상 상속 */
  text-decoration: none; /* 밑줄 제거 */
}

.discountCoupon {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  border-radius: 30%;
  transform: rotate(-10deg); /* 이미지를 10도 회전시킴 */
  margin: 10px 0;
}

.topBanner .info {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.topBanner p {
  align-self: center;
  opacity: 0.9;
  margin-right: 5px;
}

.topBanner span {
  font-weight: bold;
  align-self: center;
  font-size: 16px;
}

svg {
  width: 22px;
  height: 22px;
  align-self: center;
}

.closeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  transform: translateY(50%); /* 수직 중앙 정렬 */
}

.headerContainer {
  padding: 0 60px;
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #eaedef;
}
.headerLeft {
  display: flex;
  align-items: center;
}
.headerLogo {
  margin: -4px;
  padding: 4px;
  flex-shrink: 0;
  margin-right: 35px;
}

.headerCategory {
  display: flex;
  flex: 1 1 0px;
}

.community,
.shopping,
.interior {
  margin: 0 10px;
  padding: 21px 5px 15px;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}

.community:hover,
.shopping:hover,
.interior:hover {
  color: #35c5f0;
}

.headerCenter {
  align-items: center;
}

.inputBox {
  display: flex;
  border-radius: 4px;
  border: 1px solid #dadde0;
  box-sizing: border-box;
  height: 40px;
  padding: 0 14px;
  width: 100%;
  align-items: center;
}

.inputBox:hover {
  border: 1px solid rgb(53, 197, 240);
  background-color: #f7f9fa;
}

.searchInput {
  display: flex;
  font-size: 16px;
}

.searchInput:hover {
  background-color: #f7f9fa;
}

.icon ._search_24 {
  display: flex;
  align-items: center;
}

.headerCenter {
  display: flex;
}

.icon _search_24 {
  display: flex;
  align-items: center;
  border: 1px solid #dadde0;
  border-radius: 4px;
  height: 40px;
  padding: 0 14px;
  margin-right: 9px;
}

.searchIcon {
  height: 24px;
  padding-right: 6px;
}

::placeholder {
  opacity: 0.5;
}
.shoppingCart {
  display: flex;
  align-items: center;
}

.searchInput {
  border: none;
}

.headerRight {
  display: flex;
  align-items: center;
}

.account {
  display: flex;
  margin: 0 10px 0 8px;
}

.signUP {
  border-left: 1px solid #eaedef;
}

.signIn,
.signUp {
  font-size: 14px;
  line-height: 18px;
  color: #2f3438;
  padding: 0 10px;
}

.writeButton {
  display: flex;
  background-color: #35c5f0;
  align-items: center;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  padding: 0 16px;
  border: none;
  /* transition: background-color 0.2s ease;  */
}

.writeButton:hover {
  background-color: #337285; /* 어두운 배경색 */
}

.downArrowWhite {
  height: 24px;
}

.layoutNavigationContainer {
  background: #ffffff;
  border-bottom: 1px solid #eaedef;
  display: flex;
  padding: 0 60px;
  font-size: 15px;
}

.layoutNavigationContainer nav {
  display: flex;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;
  margin: 0 -5px;
  height: 51px;
}

.layoutNavigationContainer span {
  margin: 0 5px;
  height: inherit;
  display: block;
}

.layoutNavigationContainer div {
  height: inherit;
  display: flex;
  align-items: center;
}

.layoutNavigationContainer a {
  display: inline-flex;
  justify-content: center;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  padding: 12px 6px;
  height: inherit;
  outline: none;
}

.layoutNavigationContainer a div {
  padding: 4px;
  margin: -4px;
}

.layoutNavigationContainer button {
  background-color: #fff;
  border: none;
}

.layoutNavigationContainer .downArrowGreySmall {
  height: 18px;
}
.layoutNavigationContainer .downArrowGreyBig {
  height: 24px;
}

.navigationRight {
  display: block;
  margin-left: 10px;
}

.rankingContent {
  display: flex;
  position: relative;
  margin-right: 6px;
  overflow: hidden;
}

.headerContainer-mobile {
  display: none;
}

/* 반응형 구현 */
@media screen and (max-width: 767px) {
  .topBanner {
    display: none;
  }

  .headerContainer {
    display: none;
  }

  .headerContainer-mobile {
    display: flex;
    background: #ffffff;
    border-bottom: 1px solid #eaedef;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
  }

  .menuButton {
    border: none;
    background-color: #fff;
  }
  .menu {
    height: 24px;
    background-color: #fff;
    border: none;
  }

  .headerLeft-mobile {
    display: flex;
  }

  .headerRight-mobile {
    display: flex;
  }
  .headerRight-mobile img {
    height: 24px;
  }

  .searchContainer,
  .cartContainer {
    padding: 6px;
    margin: 3px 1px;
  }
}
