.topBanner {
  color: white;
  background-color: #1496f4;
  cursor: pointer;
  position: relative;
}

a {
  color: inherit; /* 부모 요소의 색상 상속 */
  text-decoration: none; /* 밑줄 제거 */
}

.discountcoupon {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  border-radius: 30%;
  transform: rotate(-10deg); /* 이미지를 10도 회전시킴 */
  margin: 10px 0;
}

.topBanner .info {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.topBanner p {
  align-self: center;
  opacity: 0.9;
  margin-right: 5px;
}

.topBanner span {
  font-weight: bold;
  align-self: center;
  font-size: 16px;
}

svg {
  width: 22px;
  height: 22px;
  align-self: center;
}

.closeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  transform: translateY(50%); /* 수직 중앙 정렬 */
}

/* 반응형 구현 */
@media screen and (max-width: 767px) {
  .top {
    display: none;
  }
}
